.popup__text-description_authorization {
color: #FFF;
background-color: black;
text-align: center;
font-size: 24px;
font-family: Inter;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 0px 0 50px 0px;
}